@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Jacquarda+Bastarda+9&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&family=Rubik+Mono+One&display=swap');


body{
    background-image:url("/media/images/triviaBackground.jpg");
    font-family: Rubik Mono One, sans-serif;
}

#triviaTitle{
    display: flex;
    justify-content: center;
    color:#fef1da;
    -webkit-text-stroke: 2.5px #FBA007; 
    font-size: 93px;
    margin-top: -05px;
}

#pickCategory{
    display: flex;
    justify-content: center;
    color:#fef1da;
    -webkit-text-stroke: 2.5px #FBA007; /* WebKit/Blink browsers */
    font-size: 25px;
    margin-top: 70px;
}

#answerPlace{
  display: flex;
  justify-content: center;
  color:#fef1da;
  -webkit-text-stroke: 2.5px #FBA007; /* WebKit/Blink browsers */
  font-size: 23px;
  margin-top: 30px;
}


#tv{
    display:flex;
    justify-content: center;
    border: 7px solid #ad6d03; 
    margin-top:1%;
    width: 900px;
    height: 530px;
    background: rgba(235, 136, 235, 4);
    border-radius: 50% / 10%;
    background-color: #fff8ed;
    text-indent: .1em;
  }

  #screenBorder{
    
    margin-top: 10%;
    margin-left:10%;
    border-radius: 50% / 10%;
    border: 7px solid #ad6d03; 
    width: 580px;
    height: 400px;
    background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
      }
      @keyframes b{
        100% {background-position: 50% 0, 60% 50%}
      }
    
      button {
        width: 115px; 
        height: 115px; 
        border-radius: 50%;
        border: #32303B; 
        background-color: #ffecfc;
        border: 4px solid #ad6d03; 
        color: #FBA007;
        font-size: 16px; 
        margin-left:150px;
        margin-top: -40px;
        
      }

   